{{ block "index" . }}
<!doctype html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="css/style.css" rel="stylesheet" />
        <script src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    </head>

    <body>
        {{ template "form" .Form }}
        <hr />
        {{ template "display" .Data }}
        <script>
            document.addEventListener("DOMContrntLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function (e) {
                    if (e.detail.xhr.status === 422) {
                        e.detail.shouldSwap = true;
                        e.detail.isError = false;
                    }
                });
            });



        </script>
    </body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-post="/contacts" hx-swap="outerHTML" >

    name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type=" text" name="name" />

    email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type=" email" name="email" />

    {{ if .Errors.email }}
    <div style="color: red">
        {{ .Errors.email }}
    </div>
    {{ end }}

    <button type="submit">Create Contact</button>
</form>
<hr />
{{ end}} {{ block "display" . }}
<div id="display">
    {{ range .Contacts }}
        {{ template "contact" . }}
    {{ end }}
</div>
{{ end }}


{{ block "contact" .}}
    <div>
        Name: <span> {{ .Name }} </span> Email: <span> {{ .Email }} </span>
    </div>
{{ end }}


{{ block "oob-contact" .}}
    <div id="contacts" hx-swap-oob="afterbegin">
        {{ template "contact" . }}
    </div>
{{ end }}
